body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  background-color: #f7f7f7;
}

.lang-button {
  font-size: 32px;
  margin: 20px;
  cursor: pointer;
}

.lang-button span {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}

#color-buttons button {
  width: 80%;
  height: 50px;
  margin: 8px auto;
  border: none;
  border-radius: 8px;
  display: block;
  font-size: 16px;
}

#surprise-btn {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #2563eb; /* výchozí modrá */
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playing {
  background-color: #000000 !important; /* černá */
}
